
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Volunteers feature admin</h2>

<h4>@Html.ActionLink("Alerts", "Index", "Alerts")</h4>
<h4>@Html.ActionLink("News", "Index", "News")</h4>
<h4>@Html.ActionLink("Events", "Index", "Events")</h4>


<p>@Html.ActionLink("Back", "Index", "Admin")</p>
