@model IEnumerable<Mahc_Final.DBContext.faq>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .display
    {
        margin-left:3%;
    }
    b {
        font-size: medium;
    }

    p {
        text-indent: 3%;
    }
</style>

<h2>FAQ</h2>

<hr />


<div class="display">
@foreach (var item in Model)
{
    <b>
        @Html.DisplayFor(modelItem => item.Question)
    </b>
            <br />
            <p>
                @Html.DisplayFor(modelItem => item.Answer)
            </p>
            <br />
}
</div>