<ul>
    <li><h4>@Html.ActionLink("Alerts", "Index", "Alerts")</h4></li>
    <li><h4>@Html.ActionLink("News", "Index", "News")</h4></li>
    <li><h4>@Html.ActionLink("Events", "Index", "Events")</h4></li>
</ul>