
<nav class="col-lg-3 col-md-3 hidden-sm hidden-xs" style="border-bottom:none;">
    <ul>
        <li><h4>@Html.ActionLink("Job Postings", "PublicIndex", "Jobs")</h4></li>
        <li><h4>@Html.ActionLink("Volunteer Opporunities", "PublicIndex", "Tasks")</h4></li>
        <li><h4>@Html.ActionLink("Student Opportunities", "PublicIndex", "Jobs")</h4></li>
        <li><h4>@Html.ActionLink("Physician Recruitment", "PublicIndex", "Jobs")</h4></li>
    </ul>
</nav>