
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<h2>Careers feature admin</h2>
<h4>@Html.ActionLink("Opportunities", "Index", "Jobs")</h4>
<h4>@Html.ActionLink("Applications", "Index", "Job_applications")</h4>


<p>@Html.ActionLink("Back", "Index", "Admin")</p>