@model Mahc_Final.DBContext.Department

@{
    ViewBag.Title = "ListDepart";
}
@{
    ViewBag.Title = "ListDepart";
}

<h2>ListDepart</h2>
@using (Html.BeginForm())
{

    @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control", @id = "dropdown" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

        </div>
    </div>

}
<input type="button" id="select" value="Select Dept" class="btn btn-default" />
<div id="dis">

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#select').click(function(e)
    {
    var ids=$("#dropdown option:selected").val();
    //alert(ids);


    $.ajax({
        type: "GET",
        url: "@Url.Action("_display1","Visitor")",
        data: { id: ids },
        success: function (data)
        {
            console.log(data)
            $("#dis").html(data);
        }




    })


    })
</script>
