.er__container {
    position: fixed;
    left: 20px;
    border: 1px solid black;
    background-color: cornflowerblue;
    color: black;
    font-family: monospace;
    font-weight: bold;
    z-index: 10;
}
