@using System.Web.UI.WebControls
@model Hospital.DBContext.ERWaitTime

<link rel="stylesheet" type="text/css" href="~/Content/ErWaitTime.css">
<section class="er__container">
    <div class="clock">
        @*<div class="clock__logo">
            <img class="clock__logo_img" src="humber-logo.png" alt="Humber Logo" title="Humber" />
        </div>*@
        <div class="clock__current_time">
            ~15 min
        </div>
        @*<div class="clock__slogan">
            <span class="clock__slogan clock__slogan--left">WE ARE</span><span class="clock__slogan clock__slogan--right">FUTURISTIC</span>
        </div>*@
    </div>
</section>
