<nav class="col-lg-2 col-md-2 hidden-sm hidden-xs" style="border-bottom:none;">
    <ul>
        <li><h4>@Html.ActionLink("News", "PublicIndex", "News")</h4></li>
        <li><h4>@Html.ActionLink("Events", "PublicIndex", "Events")</h4></li>
        <li><h4>@Html.ActionLink("Alerts", "PublicIndex", "Alerts")</h4></li>
    </ul>
</nav>