
@{
    ViewBag.Title = "SuccessMessage";
}

<h5>Your Appointment is Booked! If You want to cancel this Appointment Please Contact Us 48 hours before. </h5>
<div>
    @Html.ActionLink("Back", "Create")
</div>

