@model Mahc_Final.DBContext.ERWaitTime

<link rel="stylesheet" type="text/css" href="~/Content/ErWaitTime.css">
<section class="er__container">
    <a role="button" data-toggle="collapse" href="#erContainer" aria-controls="erContainer">
        Er Wait Time
    </a>
    <div id="erContainer" class="collapse in">
        <div class="er__text">
            <span>Estimated Wait Time: @Model.CurrentWaitTime</span>
        </div>
        <div class="er__text">
            <span>Updated At: @Model.UpdatedAt</span>
        </div>
    </div>
</section>