@model Mahc_Final.DBContext.ERWaitTime

<link rel="stylesheet" type="text/css" href="~/Content/ErWaitTime.css">
<section class="er__container">
    <div class="clock">
        <div class="clock__logo">
            <span>Er Wait Time</span>
        </div>
        <div class="clock__current_time">
            @*@Model.CurrentWaitTime*@
            ~15 min
        </div>
    </div>
</section>