@model IEnumerable<PatientsMVC.Models.Patients>

@{
    ViewBag.Title = "List of all patients";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
           Patient
        </th>
        <th>
           Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HCnmb)
        </td>
        <td> 
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
          
        </td>
    </tr>
}

</table>
